.header {
    background-color:black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
    margin-bottom: 20px;
    height: 60px;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 80px;
    padding-right: 80px;
}
.NavLink{
    color:white;
}
