.Coordonnees{
    background-color: silver;
    height: 100px;
    width: 1465px;
    text-align: center;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    bottom: 0;
}
.adresse{
    margin-left: 10px;
    margin-right: 800px;
    display:flex;
    top:20px;
    display:inline-block;
}

.contact{
    display:inline-block;
    top:20px;
}